<table class="table striped">
  <thead>
    <tr>
      <th>Japanese</th>
      <th>English</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.name %></td>
        <td><%= word.english %></td>
        <td><%= link_to 'Edit', edit_word_path(word), class: 'waves-effect waves-light btn blue' %></td>
        <td><%= link_to 'Delete', word, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="fixed-action-btn">
  <%= link_to new_word_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
<br>
